<!doctype html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Codepot Example</title>
  <meta name="description" content="Codepot Example">
  <meta name="author" content="Jakub Wasielak">

  <link rel="stylesheet" href="{% static 'styles/index.css' %}">

</head>

<body>
{% block content %}
{% endblock content %}
</body>
</html>