{% extends 'base.html' %}

{% block content %}
<div class='content'>
	{% if not question %}
	<p>
		Looks like noone hase added any models.
	</p>
	{% else %}
	<p>
		This question has been answered <span class="number">{{ question.all_answers }}</span> before with <span class="number">{{ question.correct_answers }} </span> answers correct.<br/>
		{% if question.last_answer %}
		Last time someone did answer this question was {{ question.last_answer }}.
		{% else %}
		Looks like you might be the first one!
		{% endif %}
	</p>
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<form action="{% url 'question' %}" method="POST">
		<label>{{ question.text }}</label><br/>
		<span>
			{% csrf_token %}
			<input type="hidden" name="question_name" value="{{ question.name }}">
		</span>
		{% for option in question.options %}
		<input type="radio" name="answer" value="{{ option }}">{{ option }}<br>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
	{% endif %}
</div>
{% endblock content %}