body {
	line-height: 24px;
}

.content {
    max-width: 960px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}

input[type="submit"] {
    border: 0;
    padding: 6px 10px;
    color: #fff;
    border-radius: 3px;
    background-color: #009688;
    margin-top: 10px;
}

input[type="radio"] {
    vertical-align: middle;
    margin: 4px 8px 4px 0;
}

ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
}

li.error {
	color: #F44336;
}

li.success {
	color: #009688;
}

.number {
	font-weight: bold;
}

form {
	line-height: 30px;
}